@import "../../styles/variables";
@import "assets/styles/colors";

.Panels {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - #{$editor-header-height});
    overflow: hidden;

    &Left,
    &Right {
        position: relative;
        background-color: $dark-dark;
    }
}
