@import "assets/styles/variables";

.LanguageSelector {
    &Menu {
        top: $app-header-height !important;
    }

    &Option {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: $spacing-sm;
        font-size: $font-md !important;

        img {
            border-radius: $radius-round;
            width: 18px;
            height: 18px;
        }
    }
}
