@import "assets/styles/colors";
@import "assets/styles/variables";

.CategorySelector {
    min-width: 200px;

    fieldset {
        border: none;
    }

    &::before,
    &::after,
    > div::before,
    > div::after {
        display: none !important;
    }

    input {
        color: $blue-50 !important;
        padding: $spacing-md $spacing-sm !important;
        min-width: 100px !important;
        font-size: $font-md;
        padding-left: $spacing-xs !important;
    }

    &Chip {
        background-color: $blue-80 !important;
        color: $light-text !important;
    }
}
