.CodeEditor {
    $y-spacing: 15px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: $y-spacing 0;
    height: calc(100% - 2 * #{$y-spacing});
    background-color: #1e1e1e;
}
