@import "assets/styles/colors";
@import "assets/styles/variables";

$radius: 60px;

.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100vh - #{$app-header-height});

    &Icon {
        $padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(#{$radius} - 2 *#{$padding});
        height: calc(#{$radius} - 2 *#{$padding});
        pointer-events: none;
        background-color: $medium-blue;
        border-radius: 50%;
        padding: 10px;

        svg {
            font-size: calc((#{$radius} - 2 *#{$padding}) * 0.8);
            color: $light-text;
        }
    }

    &Photo {
        padding: 0;

        &,
        img {
            width: $radius !important;
            height: $radius !important;
        }
    }

    &Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: $light-text;

        p {
            width: 100vmin;
            word-break: break-word;
        }
    }

    &Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        width: Max(370px, 55vmin);

        &Row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 100%;
        }
    }
}
