@import "assets/styles/colors";
@import "assets/styles/variables";

$radius: 50px;

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100vh - #{$app-header-height});

    &Icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: $radius;
        height: $radius;
        pointer-events: none;
        background-color: $medium-blue;
        border-radius: $radius-round;
        padding: $spacing-sm;

        svg {
            font-size: calc(#{$radius}* 0.8);
            color: $light-text;
        }
    }

    &Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-md;

        p {
            color: $light-text;
            font-size: $font-md;
            width: 100vmin;
            word-break: break-word;
        }
    }

    &Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: $spacing-md;
        width: Max(370px, 55vmin);
    }
}
