@import "assets/styles/colors";
@import "../../styles/variables";

.Instructions {
    $padding: 18px;
    $handle-width: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: calc(100% - 2 *#{$padding} - #{$handle-width});
    height: 100%;
    background-color: $instructions-bg-color;
    padding: $padding;
    padding-right: calc(#{$padding} + #{$handle-width});

    &Categories,
    &Title {
        min-width: 200px;

        fieldset {
            border: none;
        }

        &::before,
        &::after,
        > div::before,
        > div::after {
            display: none !important;
        }

        input {
            color: $medium-blue !important;
            padding: 15px 10px !important;
            min-width: 100px !important;
        }
    }

    &Categories {
        input {
            font-size: 18px;
            padding-left: 2px !important;
        }
    }

    &Title {
        input {
            font-size: 32px;
        }
    }

    &Chip {
        background-color: $dark-blue !important;
        color: $light-text !important;
    }

    hr {
        height: 1px;
        margin: 12px 12px 30px 12px;
        width: calc(100% - 2 * 12px);
        border-color: $dark-text;
    }
}
