@import "assets/styles/colors";
@import "assets/styles/variables";

$avatar-radius: $radius-xl * 2;

.UserAvatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: $spacing-sm;

    border-radius: $radius-xl !important;
    border-top-left-radius: $radius-round !important;
    border-bottom-left-radius: $radius-round !important;
    background-color: $dark-60 !important;
    color: $light-text !important;
    padding: 0 $spacing-sm 0 0 !important;
    font-size: $font-sm !important;

    &Photo {
        width: $avatar-radius !important;
        height: $avatar-radius !important;
    }
}
