$light-dark: #5f687b;
$medium-dark: #282c34;
$dark-dark: #424956;

$medium-blue: #61dafb;
$dark-blue: #06bcee;

$light-text: #fff;

$light-orange: #f3dd80;
$dark-orange: #cb7a10;
$light-green: #93c9a1;
$dark-green: #287b32;
