$light-dark: #333a45;
$medium-dark: #282c34;
$dark-dark: #20232a;

$medium-gray: #eeeeee;
$dark-gray: #ececec;

$medium-blue: #61dafb;
$dark-blue: #06bcee;

$light-text: #fff;
$dark-text: #282c34;

$light-orange: #f3dd80;
$dark-orange: #cb7a10;
$light-green: #93c9a1;
$dark-green: #287b32;
$white: #fff;
