$dark-10: #717c92;
$dark-30: #4c5463;
$dark-40: #333a45;
$dark-50: #282c34;
$dark-60: #20232a;

$medium-gray: #eeeeee;
$dark-gray: #ececec;

$blue-00: #b0ecfd;
$blue-10: #a0e9fd;
$blue-30: #81e1fc;
$blue-50: #61dafb;
$blue-70: #1dcaf9;
$blue-80: #06bcee;
$blue-90: #05a1cc;
$blue-100: #0486aa;

$light-text: #e7e4e4;
$dark-text: #282c34;

$light-orange: #f3dd80;
$dark-orange: #cb7a10;
$light-green: #93c9a1;
$dark-green: #287b32;
$white: #fff;
$black: #000;
$red: #e75555;
$green: #4caf50;
