@import "./colors";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $dark-50;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    /* width */
    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: $dark-40;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: $blue-50;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: $blue-80;
    }
}

.MuiButton-root {
    text-transform: none !important;
}

.MuiButton-outlined {
    border-color: $light-text !important;
    color: $light-text !important;

    &:hover {
        border-color: $blue-50 !important;
        color: $blue-50 !important;
    }
}

.MuiIconButton-root {
    svg {
        color: $light-text !important;
    }

    &:hover svg,
    svg:hover {
        color: $blue-50 !important;
    }

    &:hover {
        background-color: rgba(25, 118, 210, 0.04);
    }
}

.MuiTextField-root {
    label {
        color: $blue-50 !important;
    }

    fieldset {
        border-color: $dark-40 !important;
    }
}

.MuiOutlinedInput-root {
    &,
    input {
        color: $blue-50 !important;
    }

    svg {
        color: $light-text !important;
    }
}
